page-bookmark {
    .toolbar-background {
        background: #77dbff;
    }
    .toolbar-title {
        img {
            width: 80px;
            display: block;
            margin: 0 auto;
            position: relative;
            left: -30px;
        }
    }
    ion-list {
        ion-item {
            border-left: 3px solid #000 !important;
            ion-label {
                white-space: normal
            }
            box-shadow: 0 5px 23px rgba(0, 0, 0, 0.21) !important;
            border-radius: 3px;
            overflow: hidden;
            margin-bottom: 15px !important;
            .item-inner {
                border-bottom: 0 !important;
            }
            ion-thumbnail {
                img {
                    width: 110px !important;
                }
            }
            p {
                margin-bottom: 10px !important;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                ion-icon {
                    font-size: 18px;
                }
                button {
                    box-shadow: none !important;
                    margin: 0 !important;
                }
            }
        }
    }
}
